/******************** GLOBAL ********************/
html{
    scroll-behavior: smooth;
    overflow-x: hidden;
}

:root{
    --couleurA:#82CA9C;
    --couleurB:#7ACCC8;
    --couleurC:#6DCFF6;
    --couleurD:#7DA7D9;
    --couleurE:#8393CA;
    --couleurF:#8781BD;
    --couleurG:#A186BE;
    --couleurH:#BD8CBF;
    --ecritureBlanc: #eeeeee;
    --ecritureGris: #555555;
    --ecritureNoir: #333333;
}

@font-face {
  font-family: "ChickenPieHeight";
  src:
    url(../font/ChickenPie_Height.ttf);
}

@font-face {
  font-family: "ChickenPie";
  src:
    url(../font/ChickenPie.ttf);
}

@font-face {
  font-family: "ChristmasButtermilk";
  src:
    url(../font/ChristmasButtermilk.otf);
}

*{
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
}

body::before{
    content: "";
    position: fixed;
    inset: 0;
    background-image: url(../img/Background.png);
    background-repeat: repeat;
    background-size: 90px 90px;
    z-index: -2;
    opacity: 0.5;
}

body{
    text-align: center;
    z-index: 1;
    color: var(--ecritureNoir);
    font-family: "ChristmasButtermilk";
}

header, nav, main, footer{
    width: 100vw;
    margin: 0 auto;
}

h2, h3, h4, h5{
    font-family: "ChickenPie";
}
